html,
body {
  font-size: 62.5%;
  height: 100%;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

/* left side */
header {
  float: left;
  padding: 3%;
  width: 47%;
  padding-top: 0px;
}

#logo {
  font-size: 3.1rem;
  color: #002e5b;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  line-height: 6rem;
  margin-left: 147px;
}

section {
  width: 100%;
  max-width: 120rem;
  margin: 0px auto;
}

#columns {
  margin-top: 5rem;
  margin-left: 10rem;
}

#columns img {
  margin-bottom: 4rem;
  height: 420px;
  margin-top: 30px;
}

#columns > blockquote {
  margin-left: 120px;
}

p,
cite {
  font-size: 2rem;
}

/* right-side */
main {
  background: #f4f4f4;
  float: right;
  padding: 3%;
  width: 47%;
  background-color: #f4f4f4;
  padding-top: 1rem;
}

nav {
  float: right;
}

nav a {
  float: right;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 5px;
  position: relative;
  transition-duration: 0.5s;
  width: 13rem;
  text-align: center;
  line-height: 2.3rem;
  color: #393939;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

nav a:hover {
  background: #1de9b6;
  cursor: pointer;
}

/* Sign up */
h1 {
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 480px;
  padding: 1em;
  border-radius: 3rem;
  background-color: #8cec8b;
  color: #1c1515;
  font-family: "Work Sans", sans-serif;
  height: 420px;
  margin-top: 120px;
}

.login {
  margin-bottom: 40px;
  margin-top: 50px;
  color: whitesmoke;
}

.email {
  margin-bottom: 6px;
}

#email,
#password {
  width: 415px;
}

.email,
.password {
  padding-left: 32px;
}

form div + div {
  margin-top: 1em;
}

input {
  font: 1.8rem sans-serif;
  box-sizing: border-box;
  border: 1px solid #b9b9b9;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 10px;
}

input:focus {
  border-color: #000;
}

button {
  padding: 6px;
  font-size: 1.6rem;
  border: 1.2px solid black;
  background-color: #50b2fb;
  box-shadow: 5px 5px 5px silver;
  width: 200px;
  border-radius: 3px;
}

.button {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

form p {
  font-size: 1.6rem;
  margin-top: 40px;
  text-align: center;
}

/* social media */
main ol {
  margin-top: 90px;
}

.social {
  display: flex;
  justify-content: center;
}

.social li {
  float: left;
  width: 70px;
  height: 70px;
  text-align: center;
}

.social li img {
  width: 70px;
}

.social li:nth-child(3) img,
.social li:nth-child(4) img {
  width: 43px;
  padding-top: 12px;
}

/* responsive image and sign up */
@media only screen and (max-width: 1366px) {
  #logo {
    margin-left: 80px;
  }

  #columns {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  #logo {
    margin-left: 40px;
    line-height: 70px;
  }

  #columns {
    margin-left: 0;
  }

  #columns img {
    height: 300px;
    margin-top: 50px;
    margin-left: 40px;
  }

  #columns > blockquote {
    margin-left: 90px;
  }

  p,
  cite {
    font-size: 2rem;
  }

  form {
    width: 420px;
    height: 400px;
  }

  .login {
    margin-top: 40px;
  }

  h1 {
    margin-top: 4rem;
    font-size: 5rem;
  }

  .name {
    padding-left: 10px;
  }

  #firstname {
    max-width: 180px;
  }

  #lastname {
    margin-left: 5px;
    max-width: 180px;
  }

  .email,
  .password {
    padding-left: 20px;
  }

  #email,
  #password {
    width: 370px;
  }

  form p {
    margin-top: 30px;
  }

  main ol {
    margin-top: 55px;
  }

  .social {
    margin-top: 75px;
  }

  .social li img {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .social li:nth-child(1) img,
  .social li:nth-child(2) img {
    height: 70px;
  }

  .social li:nth-child(3) img,
  .social li:nth-child(4) img {
    height: 43px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  header {
    width: 33%;
    padding: 2%;
  }

  #logo {
    font-size: 2.8rem;
    margin-left: 5px;
  }

  #columns {
    margin-left: 1rem;
  }
  #columns img {
    margin-top: 24rem;
    height: 200px;
    margin-bottom: 3rem;
  }

  #columns > blockquote {
    margin-left: 0px;
  }

  blockquote p,
  cite {
    font-size: 1.7rem;
  }

  main {
    width: 63%;
    padding: 2%;
  }

  nav a {
    font-size: 1.8rem;
    padding: 5px;
    margin-top: 18px;
    width: 90px;
  }

  form {
    margin-top: 100px;
    height: 390px;
    width: 370px;
  }

  h1 {
    font-size: 4.4rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }

  .login {
    margin-bottom: 35px;
    margin-top: 0px;
  }

  .name {
    padding-left: 14px;
    padding-top: 20px;
  }

  #firstname {
    max-width: 160px;
    margin-left: 5px;
  }

  #lastname {
    max-width: 160px;
    margin-right: 5px;
  }

  .email,
  .password {
    padding-left: 18px;
  }

  #email,
  #password {
    width: 330px;
  }

  form p {
    font-size: 1.4rem;
    margin-top: 30px;
  }

  .social {
    margin-top: 330px;
  }

  .social li img {
    margin-bottom: 0rem;
  }

  .social li:nth-child(1) img,
  .social li:nth-child(2) img {
    height: 70px;
  }

  .social li:nth-child(3) img,
  .social li:nth-child(4) img {
    height: 43px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 414px) {
  body {
    display: block;
  }

  header {
    padding: 1%;
    width: 405.733px;
    float: none;
    height: 40px;
  }

  #logo {
    margin-left: 12px;
    line-height: 4rem;
    font-size: 2.6rem;
  }

  #columns {
    margin-top: 41rem;
    margin-left: 0px;
    display: flex;
  }

  #columns img {
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: 10px;
    height: 180px;
  }

  section > blockquote {
    margin-top: 70px;
  }

  blockquote p,
  cite {
    font-size: 1.7rem;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  cite {
    float: right;
    margin-right: 25px;
  }

  main {
    height: 400px;
    float: none;
    width: 397px;
    background: none;
  }

  nav {
    margin-top: 12px;
    margin-right: 18px;
  }

  nav a {
    float: right;
    font-size: 2rem;
    margin-top: 0px;
    color: #393939;
  }

  nav a:hover {
    border-radius: 2rem;
  }

  form {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 360px;
    height: 370px;
    background-color: #8cec8b;
  }

  .login {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  h1 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }

  .name {
    padding-left: 15px;
  }

  .email,
  .password {
    padding-left: 20px;
  }

  #firstname {
    max-width: 154px;
  }

  #lastname {
    margin-left: 5px;
    max-width: 154px;
  }

  #password,
  #email {
    width: 320px;
  }

  form p {
    margin-top: 20px;
  }

  .social {
    margin-top: 220px;
  }

  .social li {
    width: 60px;
  }

  .social li:nth-child(1) img,
  .social li:nth-child(2) img {
    height: 60px;
  }

  .social li:nth-child(1) img {
    margin-right: 70px;
  }

  .social li:nth-child(2) img {
    margin-top: 2px;
  }

  .social li:nth-child(3) img {
    width: 38px;
    height: 38px;
  }

  .social li:nth-child(4) img {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 740px) and (max-height: 414px) {
  #logo {
    font-size: 2.6rem;
    line-height: 20px;
  }

  #columns {
    margin-top: 2.5rem;
    margin-left: 0px;
  }

  #columns img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0px;
    height: 190px;
  }

  #columns > blockquote {
    margin-left: 10px;
  }

  blockquote p,
  cite {
    font-size: 1.6rem;
  }

  cite {
    float: right;
    margin-right: 30px;
  }

  main {
    height: 385px;
    background: #f4f4f4;
  }

  nav {
    margin-right: -7px;
    margin-top: 10px;
    height: 40px;
    writing-mode: vertical-rl;
    width: 40px;
  }

  nav a {
    margin-top: 0px;
    width: 35px;
  }

  form {
    margin-top: 5px;
    background-color: #8cec8b;
    height: 310px;
    width: 350px;
  }

  h1 {
    margin-top: 3rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .login {
    margin-bottom: 20px;
  }

  .name {
    padding-left: 12px;
  }

  .email,
  .password {
    padding-left: 12px;
  }

  .button {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  form p {
    margin-top: 0px;
  }

  main ol {
    margin-top: 10px;
  }

  .social {
    margin-top: 0px;
  }

  .social li {
    width: 60px;
  }

  .social li:nth-child(1),
  .social li:nth-child(2) {
    height: 55px;
  }

  .social li:nth-child(1) img,
  .social li:nth-child(2) img {
    width: 60px;
    height: 60px;
  }

  .social li:nth-child(3),
  .social li:nth-child(4) {
    height: 55px;
  }

  .social li:nth-child(3) img {
    width: 38px;
    height: 38px;
  }

  .social li:nth-child(4) img {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 375px) {
  header {
    height: 35px;
    margin-top: -4px;
    width: 368px;
  }

  #columns {
    margin-top: 38rem;
  }

  #columns img {
    margin-left: 5px;
  }

  img {
    height: 170px;
    margin-bottom: 0px;
    top: 440px;
  }

  #columns > blockquote {
    margin-top: 65px;
  }

  blockquote p {
    margin-bottom: 5px;
    margin-left: 15px;
  }

  cite {
    margin-right: 15px;
  }

  main {
    padding: 1%;
    width: 98%;
  }

  .login {
    margin-bottom: 35px;
  }

  nav {
    margin-right: 18px;
    margin-top: 16px;
  }

  nav a {
    font-size: 1.8rem;
  }

  form {
    height: 355px;
    margin: 10px;
    width: 335px;
    border-radius: 2.5rem;
  }

  .login {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 3.7rem;
    margin-top: 3.6rem;
    margin-bottom: 1.5rem;
  }

  .name {
    padding-left: 5px;
  }

  .name,
  .email {
    margin-bottom: 0px;
  }

  #firstname,
  #lastname {
    max-width: 150px;
  }

  .email,
  .password {
    padding-left: 10px;
  }

  #email,
  #password {
    width: 310px;
  }

  .button {
    margin-top: 1.5rem;
  }

  form p {
    margin-top: 30px;
  }

  .social {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 667px) and (max-height: 375px) {
  header {
    width: 28%;
    padding: 2%;
  }

  #logo {
    font-size: 2.4rem;
    margin-left: 0px;
  }

  #logo sub {
    float: right;
  }

  #columns {
    margin-left: 0rem;
    margin-top: 3.5rem;
  }

  #columns img {
    height: 170px;
    width: 190px;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }

  blockquote p {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  main {
    height: 385px;
    width: 68%;
  }

  nav {
    margin-top: 12px;
  }

  form {
    margin-top: 5px;
    height: 310px;
    width: 350px;
  }

  h1 {
    margin-top: 2rem;
  }

  .name,
  .email {
    margin-bottom: 0px;
  }

  #firstname,
  #lastname {
    max-width: 155px;
  }

  .email,
  .password {
    padding-left: 16px;
  }

  #email,
  #password {
    width: 322px;
  }
}
@media only screen and (max-width: 360px) {
  header {
    padding-top: 0.2rem;
    width: 350px;
  }

  #logo {
    font-size: 2.6rem;
    padding-top: 0.2rem;
    line-height: 4.5rem;
  }

  #columns img {
    margin-top: 1rem;
    height: 175px;
    width: 200px;
  }

  section > blockquote {
    margin-top: 55px;
  }

  cite {
    margin-left: 0px;
    float: right;
    margin-right: 10px;
  }

  nav {
    margin-right: 15px;
  }

  form {
    width: 320px;
  }

  .login {
    margin-top: 45px;
  }

  h1 {
    font-size: 3.5rem;
  }

  #firstname,
  #lastname {
    max-width: 145px;
  }

  #email,
  #password {
    width: 300px;
  }

  form p {
    margin-top: 30px;
  }

  .social {
    margin-top: 235px;
  }
}

/* smaller screen once start typing */
@media only screen and (max-width: 414px) and (max-height: 415px) {
  #logo {
    line-height: 4rem;
  }

  #columns {
    margin-top: 45rem;
  }

  #columns img {
    margin-top: 1rem;
    height: 180px;
    margin-left: 10px;
  }

  blockquote p,
  cite {
    font-size: 1.7rem;
  }

  main {
    background: none;
    height: 400px;
  }

  nav {
    margin-top: 12px;
    margin-right: 18px;
    writing-mode: horizontal-tb;
    width: 90px;
    height: 33px;
  }

  nav a {
    width: 90px;
  }

  form {
    height: 410px;
    margin-top: 5px;
  }

  h1 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }

  .name {
    padding-left: 15px;
  }

  .email,
  .password {
    padding-left: 20px;
  }

  form p {
    margin-top: 50px;
  }

  main ol {
    margin-top: 55px;
    height: 70px;
  }

  .social {
    margin-top: 240px;
    height: 70px;
  }
}

@media only screen and (max-width: 360px) and (max-height: 416px) {
  #columns {
    margin-top: 39rem;
  }

  #columns img {
    height: 175px;
  }

  nav {
    margin-top: 16px;
    margin-right: 15px;
  }

  form {
    height: 365px;
    margin-top: 10px;
  }

  h1 {
    margin-top: 3.6rem;
    font-size: 3.5rem;
  }

  .name {
    padding-left: 5px;
  }

  .email,
  .password {
    padding-left: 10px;
  }

  form p {
    margin-top: 38px;
  }

  .social {
    margin-top: 235px;
  }
}
