html, body {
  font-size: 62.5%;
  height: 100%;
}
   
* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}
   
body {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

/* left side */
header {
  float: left;
  padding: 3%;
  width: 47%;
  padding-top: 0px;
}
 
#logo {
  font-size: 3.1rem;
  color: #002e5b;
  font-weight:500;
  font-family: 'Quicksand', sans-serif;
  line-height: 4.5rem;
  margin-left: 147px;
}

section {
  width:100%;
  max-width: 120rem;
  margin:0px auto;
}

#columns {
  margin-top: 5rem;
  margin-left: 10rem;
}

#columns img {
  margin-bottom: 4rem;
}
   
p, cite {
  font-size: 2.2rem;
}
   
/* right-side */
main {
  background: #FF886A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(45.34deg, #FCF6CF 5.66%, #FF886A 94.35%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45.34deg, #FCF6CF 5.66%, #FF886A 94.35%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: right;
  padding: 3%;
  width: 47%;
  background-color: #eee;
  padding-top: 1rem;
}
   
nav {
  float: right;
}

nav a {
  float:right;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  transition-duration: 0.5s;
  width: 13rem;
  text-align: center;
  line-height: 2.3rem;
  color: #FFF;
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
}

nav a:hover {
  background: #6fd54d;
  cursor: pointer;
}

   /* Sign up */
h1 {
  font-size: 5.5rem;
  font-family: 'Lato', sans-serif;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border-radius: 3rem;
  background-color: #fff8f8;
  color: #1c1515;
  font-family: 'Work Sans', sans-serif;
  height: 450px;
  margin-top: 130px;
}
   
.name {
  display: inline-block;
  padding-top: 25px;
  padding-left: 30px;
}

#firstname {
  float: left;
  margin: 10px;
  max-width: 200px;
  margin-right: 5px;
}

#lastname {
  float: right;
  margin: 10px;
  max-width: 200px;
}

#email, #password {
  width: 415px;
}

.email, .password {
  padding-left: 40px;
}

form div + div {
  margin-top: 1em;
}
   
input {
  font: 1.8rem sans-serif;
  box-sizing: border-box;
  border: 1px solid #b9b9b9;  
  border-radius: .5rem;
  height: 3rem;
  padding: 10px;
}
   
input:focus {
  border-color: #000;
}

button {
  padding: 6px;
  font-size: 1.6rem;
  border: 1.2px solid black;
  background-color: #50b2fb;
  box-shadow: 5px 5px 5px silver;
  width: 200px;
  border-radius: 3px;
}

.button {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
   
form p {
  font-size: 1.6rem;
  margin-top: 50px;
  text-align: center
}
      
/* social media */
main ol {
  margin-top: 60px;
}
   
.social {
  margin-left: 230px;
}

.social li {
  float: left;
  width: 70px;
  height: 70px;
}

.social li img {
  width: 70px;
}

.social li:nth-child(3) {
  margin-top: 13px;
  margin-left: 7px;
  width: 62px;
  height: 65px;
}

.social li:nth-child(4) {
  margin-top: 11px;
  height: 77px;
}

.social li:nth-child(3) img, .social li:nth-child(4) img {
  width: 43px;
}

/* responsive image and sign up */
@media only screen and (max-width: 1366px) {
#logo {
  margin-left: 80px;
}

#columns {
  margin-left: 5rem;
}

.social {
  margin-left: 170px;
} 
}

@media only screen and (max-width: 1024px) {
#logo {
  margin-left: 70px;
}

#columns {
  margin-left: 0;
}

#columns img {
  height: 350px;
}

form {
  width: 420px;
}

.name {
  padding-left: 10px;
}

#firstname {
  max-width: 180px;
}

#lastname {
  margin-left: 5px;
  max-width: 180px;
}

.email, .password {
  padding-left: 20px;
}

#email, #password {
  width: 370px;
}

.social {
  margin-left: 100px;
}

.social li img {
    margin-top: 0px;
    margin-bottom: 0px;
}

.social li:nth-child(1) img, .social li:nth-child(2) img {
  height: 70px;
}

.social li:nth-child(3) img, .social li:nth-child(4) img {
  height: 43px;
}
}
   
@media only screen and (max-width: 768px) {
header {
  width: 33%;
  padding: 2%;
}

#logo {
  font-size: 2.8rem;
  margin-left: 5px;
}

#columns img {
  margin-top: 30rem;
  height: 200px;
  margin-bottom: 6rem;
}

p, cite {
  font-size: 1.6rem;
}

main {
  width: 63%;
  padding: 2%;
}

nav a {
  font-size: 1.8rem;
  padding: 5px;
  margin-top: 15px;
  width: 90px;
}

form {
  margin-top: 100px;
  height: 400px;
  width: 350px;
}

h1 {
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.name {
  padding-left: 5px;
  padding-top:20px;
}

#firstname {
  max-width: 160px;
  margin-left: 5px;
}

#lastname {
  max-width: 160px;
  margin-right: 5px;
}

.email, .password {
  padding-left: 10px;
}

#email, #password {
  width: 330px;
}

form p {
  font-size: 1.4rem;
  margin-top: 40px;
}

.social {
  position: absolute;
  top: 880px;
  right: 100px;
}

.social li img {
  margin-bottom: 0rem;
}

.social li:nth-child(1) img, .social li:nth-child(2) img {
  height: 70px;
}

.social li:nth-child(3) img, .social li:nth-child(4) img {
  height: 43px;
  margin-top: 0px;
}
}

@media only screen and (max-width: 414px) {
body {
  display: block;
}

header {
  padding: 1%;
  width: 405.733px;
  float: none;
  height: 40px;
}

#logo {
  margin-left: 12px;
  font-size: 2.6rem;
}

#columns img {
  margin-top: 1rem;
  margin-bottom: 4rem;
  left: 95px;
  height: 180px;
}

img {
  position: absolute;
  top: 480px;
  right: 95px;
}

section > blockquote {
  position: absolute;
  top: 685px;
  left: 48px;
}

main {
  height: 400px;
  float: none;
  width: 397px;
  background: none;
}

nav {
  margin-top: 7px;
  margin-right: 15px;
}

nav a {
  float: right;
  font-size: 2rem;
  margin-top: 8px;
}

form {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 360px;
  background-color: #8CEC8B;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.name {
  padding-left: 15px;
}

.email, .password {
  padding-left: 20px;
}

#firstname {
  max-width: 154px;
}

#lastname {
  margin-left: 5px;
  max-width: 154px;
}

#password, #email {
  width: 320px;
}

form p {
  margin-top: 40px;
}

.social {
  position: absolute;
  top: 250px;
  right: 85px;
}

.social li:nth-child(1) img, .social li:nth-child(2) img {
  width: 60px;
  height: 60px;
}

.social li:nth-child(1) img {
  margin-right: 70px;
}

.social li:nth-child(2) img {
  margin-right: 20px;
}

.social li:nth-child(3) img {
margin-right: -20px;
margin-top: 10px;
width: 38px;
height: 38px;
}

.social li:nth-child(4) img {
margin-right: -67px;
margin-top: 10px;
width: 35px;
height: 35px;
}
}
 
@media only screen and (max-width: 375px) {
header  {
    height: 35px;
    margin-top: -4px;
    width: 368px;
}

#columns img {
  left: 80px;
}

img {
  height: 170px;
  margin-bottom: 0px;
  top: 440px;
}

section > blockquote {
  top: 645px;
}

main {
    padding: 1%;
    width: 330px;
}

nav {
  margin-right: -24px;
  margin-top: 9px;
}

nav a {
  font-size: 1.8rem;
}

form {
  height: 365px;
  margin: 10px;
  width: 335px;
}

h1 {
  font-size: 3.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.name {
  padding-left: 5px;
}

#firstname, #lastname {
  max-width: 150px;
}

.email, .password {
  padding-left: 10px;
}

#email, #password {
  width: 310px;
}

.social {
  right: 70px;
  top: 240px;
}
}

@media only screen and (max-width: 360px) {
header {
  padding-top: .2rem;
  width: 350px;
}
     
#logo {
  font-size: 2.6rem;
  padding-top: .2rem;
}

#columns img {
  margin-top: .5rem;
}

section > blockquote {
  top: 640px;
  left: 34px;
}

nav {
  margin-right: -14px;
}

form {
  width: 320px;
}

#firstname, #lastname {
  max-width: 145px;
}

#email, #password {
  width: 300px;
}

}
